<html>
<head>
  <link rel="shortcut icon" href="static/img/slack_attack.png">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/css/base.css">
  <title> Molly is a Dog </title>
</head>
<body>
	
		<div class="header">
			<span>#MollyDog</span>
		</div>
		<div class="container">
			<div class="button l"> <a href="#" class="last round" id="last-pic">Last!</a></div>
			<div id="photo-box"></div>
			<div class="button n"> <a href="#" class="next round" id="next-pic">Next!</a></div>
		</div>

	<script type="text/javascript" src="static/js/lightbox.js"></script>
</body>
</html>